body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
}

.header {
  background-color: #1e40af;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  padding: 20px;
}

.card {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e40af;
  padding: 15px 25px;
}

.logo {
  color: white;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

button {
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1e3a8a;
}
